%h1 Listing searches


%form_tag(controller: "searches", action: "search", class: "search_form")
  -# %label_tag(:search_box, "Digite o professor ou a disciplina")
  %text_field(:search_box)
%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @searches.each do |search|
      %tr
        %td= link_to 'Show', search
        %td= link_to 'Edit', edit_search_path(search)
        %td= link_to 'Destroy', search, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Search', new_search_path
